{{extend 'layout.html'}}

{{block head}}
<meta name="page" content="{{=page.id}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/content-tools/content-tools.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/custom.css')}}">
{{end}}

{{include}}

{{block page_js}}
<script src="{{=URL('static','js/content-tools.min.js')}}"></script>
<script type="text/javascript">
  window.addEventListener('load', function() {
    var editor;
    ContentTools.StylePalette.add([
    new ContentTools.Style('Note', 'note', ['p'])
    ]);
    editor = ContentTools.EditorApp.get();
    editor.init('*[data-editable]', 'data-name');

    editor.addEventListener('saved', function (ev) {
      var name, payload, regions, xhr;

      // Check that something changed
      regions = ev.detail().regions;
      if (Object.keys(regions).length == 0) {
          return;
      }

      // Set the editor as busy while we save our changes
      this.busy(true);

      // Collect the contents of each region into a FormData instance
      payload = new FormData();
      payload.append('page_id', document.querySelector('meta[name=page]').getAttribute('content'));
      for (name in regions) {
          if (regions.hasOwnProperty(name)) {
              payload.append(name, regions[name]);
          }
      }

      // Send the update content to the server to be saved
      function onStateChange(ev) {
          // Check if the request is finished
          if (ev.target.readyState == 4) {
              editor.busy(false);
              if (ev.target.status == '200') {
                  // Save was successful, notify the user with a flash
                  new ContentTools.FlashUI('ok');
              } else {
                  // Save failed, notify the user with a flash
                  new ContentTools.FlashUI('no');
              }
          }
      };

      xhr = new XMLHttpRequest();
      xhr.addEventListener('readystatechange', onStateChange);
      xhr.open('POST', "{{=URL('default', 'save', user_signature=True)}}");
      xhr.send(payload);
    });
  });
</script>
{{end page_js}}